---
const { title, img, desc, url } = Astro.props;
import { Image } from "astro:assets";
---

<div class="rounded-lg bg-base-100">
  <div class="hero-content flex-col items-start md:flex-row">
    {
      img && (
        <Image
          src={img}
          width={750}
          height={422}
          format="webp"
          alt={title}
          class="max-w-full mt-2 md:max-w-[13rem] rounded-lg"
        />
      )
    }
    <div class="grow w-full">
      <h1 class="text-xl font-bold">
        {title}
      </h1>
      <p class="py-1 text-1xl">{desc}</p>
      {
        url === "" ? null : (
          <a
            class="text-blue-500 hover:text-blue-700"
            href={url}
            target="_blank"
          >
            Ver Projeto
          </a>
        )
      }
    </div>
  </div>
</div>
